**
!dist/extension.js
!dist/export.js
!dist/katex.css
!dist/webview.js
!dist/webview.css
!package.json
!README.md
!LICENSE
!THIRD-PARTY-NOTICES.md
!CHANGELOG.md
!images/icon.png
!dist/mermaid.js
!dist/fonts/*.woff2
